.content {
  height: 82vw;
  max-height: 590px;
  position: relative;
  margin: auto;
  margin-bottom: 3vh;
  margin-top: 1vh;
  max-width: 500px;
  width: 70vw;
}

.photo-frame {
  background-color: white;
  box-shadow: 5px 5px 5px 0 #668AA3;
  border: 1px solid #668AA3;
  color: #668AA3;
  display: block;
  height: 79vw;
  max-height: 560px;
  padding: 10px;
  outline: 0;
  position: absolute;
  text-align: center;
  top: 0;
  vertical-align: bottom;
  width: 100%;
}

.photo-frame img {
  display: block;
  width: 100%;
}

.photo-frame iframe,
.photo-frame .photo {
  display: block;
  width: 100%;
  height: 39.4vw;
  max-height: 282px;
}

.photo-title {
  font-size: calc(12px + 2vw);
  font-style: italic;
  margin-top: 1vw;
}

.photo-subtitle {
  font-size: calc(10px + 1.5vw);
  font-style: italic;
  text-align: center;
}

.photo-text {
  font-family: "Lato";
  font-size: calc(12px + 0.5vw);
  padding-bottom: 1vw;
  text-align: left;
}

#home .photo-title {
  font-size: calc(38px + 2.5vw);
  margin-top: 3vw;
  margin-bottom: 3vw;
}
#home .photo-text {
  font-family: 'Spirax';
  font-size: calc(20px + 1.5vw);
  text-align: center;
}

#home {
  transform: rotate(2deg) translate(-5px, 10px);
  z-index: 100;
}

#rsvp {
  transform: rotate(4deg) translatex(2px);
  z-index: 95;
}

#where {
  transform: rotate(-3deg) translate(3px, -5px);
  z-index: 90;
}

#travel {
  transform: rotate(7deg);
  z-index: 80;
}

#registry {
  transform: rotate(-5deg);
  z-index: 70;
}

.photo-frame:focus {
  z-index: 200 !important;
}

.photo-tab {
  display: none;
}

@media (min-width: 950px) {

.photo-tab {
	border-top: 1px solid #668AA3;
  display: block;
	position: absolute;
	left: 100%;
	top: -1px;
  width: 80px;
}

.photo-flag {
	border: 1px solid #668AA3;
	background-color: #668AA3;
  box-shadow: 5px 5px 5px 0 #668AA3;
	color: white;
  cursor: pointer;
  left: 80px;
  padding: 2px 4px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.photo-flag:hover {
  color: #FEAD88;
}

#rsvp .photo-tab {
  top: 45px;
}

#where .photo-tab {
  top: 150px;
}
#travel .photo-tab {
  top: 140px;
}
#registry .photo-tab {
  top: 280px;
}

.horizontal-menu {
  display: none;
}

}

.photo {
  background-size: cover;
  background-position: -10%;
}
.photos-ferry {
  background-image: url(photos/ferry_sm.jpg);
}
.photos-beach {
  background-image: url(photos/beach_sm.jpg);
}
 #rsvp iframe {
   height: 79vw;
   max-height: 560px;
 }

 ul {
   margin-top: 0;
 }
