@import url('https://fonts.googleapis.com/css?family=Lobster|Spirax|Lato');

body {
  color: white;
  font-family: 'Spirax', cursive;
  margin: 0;
  text-align: center;
}

.heart-banner {
  /* source: https://pixabay.com/en/chain-heart-valentine-love-1980250 */
  background-image: url(photos/chain.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -5vw;
  height: 8vw;
}

.horizontal-menu {
  background-color: #668AA3;
  border-bottom: 1px solid #668AA3;
  font-family: "Lobster";
  margin-bottom: 7px;
  padding-bottom: 2px;
}

.horizontal-menu-item {
  border: 1px solid #668AA3;
  font-size: calc(12px + 1vw);
  padding: 2px 10px;
}

.horizontal-menu-item a:link {
  color: #FEFE87;
}

.horizontal-menu-item a:visited{
  color: #FEAD88;
}

hr {
  border-color: #FEAD88;
}

#footer {
  transform: scaley(-1);
}
