body {
  background-color: #668AA3;
  color: white;
  font-family: 'Spirax', cursive;
  font-size: 20pt;
  margin: 0;
  text-align: center;
}

#gallery{
  margin-top: 50px;
}

div#photos img {
  border: 1px solid black;
  box-shadow: 5px 5px 5px 0px #555;
  max-width: 200px;
  width: 19%;
}

div#photos #photo-0 {
  transform: rotate(10deg);
}

div#photos #photo-1 {
  transform: rotate(-8deg);
}

div#photos #photo-2 {
  transform: rotate(-15deg);
}

div#photos #photo-3 {
  transform: rotate(12deg);
}

div#photos #photo-4 {
  transform: rotate(-18deg);
}
